@import "tailwindcss";

:root {
  --white:    #FBFFFF;
  --black:    #0D0D0D;
  --darkgrey: #3f3f3f;
  --blue:     #008CFF;
  --darkblue: #0362af;
  --lightblue:#f2f9ff;
  --green:    #2ABE3E;
}
html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(180deg, rgb(246, 246, 246)  0%, rgb(232, 232, 232) 100%) fixed;
  background-image: url(../../public/concrete_wall.png) ;
  color: var(--black);
  font-family: montserrat;
  width: 100%;
  height: 100%;
}
h1 {
  font-size: 38px;
  font-weight: 400;
  line-height: 1;
}
h2 {
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
}
h3 {
  font-size: 18px;
  font-weight: 600;
  color: var(--blue);
  line-height: 1;
}
p, button, small, li {
  font-family: Inter;
  color: var(--darkgrey);
}
small {
  font-size: 70%;
}
header button.active {
  background: var(--white);
  border-radius: 50%;
}
#jumplinks button.active {
  background: var(--blue);
  border-radius: 50%;
  color: var(--white);
}
footer {
  text-align: center;
}