@import "tailwindcss";

:root {
  --white:         #FBFFFF;
  --white-through: rgba(251, 255, 255, .9);
--black:           #0D0D0D;
--grey:            #E2E2E2;
--darkgrey:        #3f3f3f;
--blue:            #008CFF;
--pink:            #f87bff;
--darkblue:        #0362af;
--lightblue:       #f2f9ff;
--green:           #2ABE3E;
}
html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(180deg, rgb(246, 246, 246)  0%, rgb(232, 232, 232) 100%) fixed;
  background-image: url(../../public/grid.webp) ;
  color: var(--black);
  font-family: montserrat;
  width: 100%;
  height: 100%;
}
h1 {
  font-size: 38px;
  font-weight: 400;
  line-height: 1;
}
h2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
}
h3 {
  font-size: 18px;
  font-weight: 500;
  color: var(--white);
  line-height: 1;
  background: linear-gradient(45deg, var(--blue), var(--pink));
  border-radius: 26px;
  padding: 5px 16px;
  display: flex;
  width: fit-content;
  gap: 10px;
}
#jobs h3 {
        color: var(--blue);
        font-weight: 600;
        border-radius: 0;
        background: linear-gradient(45deg, var(--blue), var(--pink));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 0;
    }
p, button, small, li {
  font-family: Inter;
  color: var(--darkgrey);
}
small {
  font-size: 70%;
}
header button.active {
  background: linear-gradient( 222deg, var(--pink), var(--blue));
  color: var(--white);
  border-radius: 50%;
  transition: all ease .3s;

  &:hover {
    color: var(--white) !important;
    background: linear-gradient( 222deg, var(--pink), var(--blue)) !important;
    transform: scale(1.1);
  }
}
#jumplinks button.active {
  background: linear-gradient( 222deg, var(--pink), var(--blue)) ;
  border-radius: 50%;
  color: var(--white);
}
footer {
  text-align: center;
}